html,
body {
  min-width: 320px;
  background-color: black;
  color: white;
}
.App {
  min-height: calc(100vh);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
